.nav {
  background-color: black;
  overflow: hidden;
}

.nav a {
  float: left;
  color: white;
  text-align: center;
  padding: 15px 20px;
  text-decoration: none;
  font-size: 17px;
}

.nav a:hover {
  background-color: white;
  color: black;
}

.nav a.active {
  background-color: #20B2AA;
  color: white;
}

.header {
  padding: 50px;
	text-align: center;
	background: #20B2AA;
	color: white;
}

.header h1{
  font-size:60px;
}

.header p{
  font-size: 30px;
}

.text {
  text-align: center;
}

.text h1{
  font-size: 50px;
}

.text p{
  font-size: 25px;
}
.us {
  text-align: center;
}
.us h1{
  font-size: 50px;
}

.vis {
  float: left;
  padding: 10px;
  height: 450px;
  width: 95%;
  margin: 20px;
  border-style: solid;
  border-color: black;  /**/
}

.vis_text_left {
  text-align: left;
  float: left;
  margin: 20px;
  width: 70%;
}

.vis_text_right {
  text-align: left;
  float: left;
  margin: 30px;
  width: 70%;
}

.image {
  text-align: right;
  float: left;
  width: 20%;
  margin-left: 20px;

  max-width: 100%;
  height: auto;
}

.us p{
  font-size: 25px;
}

.person {
  text-align: center;
  float: left;
  width: 16.66%;
  font-size: 20px;
  font-weight: bold;
}

.upload_text{
  text-align: center;
}

.upload_text h1{
  font-size:60px;
}

.upload_text p{
  font-size: 25px;
}

.upload_text a{
  color: #20B2AA;
}
