.nav {
  background-color: black;
  overflow: hidden;
}

.nav a {
  float: left;
  color: white;
  text-align: center;
  padding: 15px 20px;
  text-decoration: none;
  font-size: 17px;
}

.nav a:hover {
  background-color: white;
  color: black;
}

.nav a.active {
  background-color: #20B2AA;
  color: white;
}

.header {
  padding: 50px;
	text-align: center;
	background: #20B2AA;
	color: white;
}

.header h1{
  font-size:60px;
}

.header p{
  font-size: 30px;
}

.text {
  text-align: center;
}

.text h1{
  font-size: 50px;
}

.text p{
  font-size: 25px;
}
.us {
  text-align: center;
}
.us h1{
  font-size: 50px;
}


/* GRID FOR VISUALIZATIONS */
.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-areas:
  "text_1 text_1 text_1 image_1"
  "image_2 text_2 text_2 text_2"
  "text_3 text_3 text_3 image_3"
  "image_4 text_4 text_4 text_4";
  grid-row-gap: 50px;
  grid-column-gap: 20px;
}

.text_1 {
  grid-area: text_1;
  padding-left: 30px;
}

.text_2 {
  grid-area: text_2;
  padding-right: 30px;
}

.text_3 {
  grid-area: text_3;
  padding-left: 40px;
}

.text_4 {
  grid-area: text_4;
  padding-right: 40px;
}

.image_1 {
  grid-area: image_1;
  align-self: center;
  justify-self: center;
}

.image_2 {
  grid-area: image_2;
  align-self: center;
  justify-self: center;
}

.image_3 {
  grid-area: image_3;
  align-self: center;
  justify-self: center;
}

.image_4 {
  grid-area: image_4;
  align-self: center;
  justify-self: center;
}

.grid div:nth-child(even) {
}

.grid div:nth-child(odd) {
}
/* END GRID FOR VISUALIZATIONS */


/* GRID FOR PERSONS */
.grid_persons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
  "picture_1 picture_2 picture_3 picture_4 picture_5"
  "name_1 name_2 name_3 name_4 name_5";
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}

.name_1 {
  grid-area: name_1;
}

.name_2 {
  grid-area: name_2;
}

.name_3 {
  grid-area: name_3;
}

.name_4 {
  grid-area: name_4;
}

.name_5 {
  grid-area: name_5;
}


.picture_1 {
  grid-area: picture_1;
  margin: 4px;
}

.picture_2 {
  grid-area: picture_2;
  margin: 4px;
}

.picture_3 {
  grid-area: picture_3;
  margin: 4px;
}

.picture_4 {
  grid-area: picture_4;
  margin: 4px;
}

.picture_5 {
  grid-area: picture_5;
  margin: 4px;
}

.grid_persons div:nth-child(even) {
}

.grid_persons div:nth-child(odd) {
}

img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
}

/* END GRID FOR PERSONS */


/* GRID FOR DISPLAY */
.grid_display{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
  "interactiontool interactiontool interactiontool interactiontool"
  "heatmap scanpath parallelscan scarfplot";

}

.interactiontool{
  align: center;
  grid-area: interactiontool;
  width: ###px;
  height: 300px;
  background-color: pink;
}

.heatmap{
  grid-area: heatmap;
  width: ###px/4;
  height: 350px;
  background-color: #20B2AA;
}

.scanpath{
  grid-area: scanpath;
  width: ###px/4;
  height: 350px;
  background-color: pink;
}

.parallelscan{
  grid-area: parallelscan;
  width: ###px/4;
  height: 350px;
  background-color: #20B2AA;
}

.scarfplot{
  grid-area: scarfplot;
  width: ###px/4;
  height: 350px;
  background-color: pink;
}

.grid_display div:nth-child(even) {
}

.grid_display div:nth-child(odd) {
}

/*END OF GRID FOR DISPLAY*/


.us p{
  font-size: 25px;
}

.upload_text{
  text-align: center;
}

.upload_text h1{
  font-size:60px;
}

.upload_text p{
  font-size: 25px;
}

.upload_text a{
  color: #20B2AA;
}
